<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h2><a href="Signac_tree/8_10/dotsize/index.html">[update!] 不同大小点效果</a> </h2> 
<h2 id="-8-">真实大小600mm*450mm，图像分辨率2000*1595，共49338点</h2>
<h2 id="-8-">点半径约为8个像素，2.4mm</h2>
<h2 id="-">原图 </h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/original_patch-1.png" alt="signac_original"></p>

<h2 id="-8-">超像素，大小约为8像素</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/slic_8.png" alt="slic"></p>
<h2 id="10-color-signac_tree-8_10-color_board_-1_10-png-signac_tree-8_10-patch-1_10_slic_draw_mergecolor-png-json-signac_tree-8_10-stat_-1_10-json-">10 color | <a href="Signac_tree/8_10/color_board_-1_10.png">颜色板</a>  |  <a href="Signac_tree/8_10/patch-1_10_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_10/stat_-1_10.json">json</a></h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/8_10/patch-1_10_slic_draw_mergecolor_dot.png" alt="slic"></p>
<h2 id="15-color-signac_tree-8_15-color_board_-1_15-png-signac_tree-8_15-patch-1_15_slic_draw_mergecolor-png-json-signac_tree-8_15-stat_-1_15-json-">15 color | <a href="Signac_tree/8_15/color_board_-1_15.png">颜色板</a>  |  <a href="Signac_tree/8_15/patch-1_15_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_15/stat_-1_15.json">json</a></h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/8_15/patch-1_15_slic_draw_mergecolor_dot.png" alt="slic"></p>
<h2 id="20-color-signac_tree-8_20-color_board_-1_20-png-signac_tree-8_20-patch-1_20_slic_draw_mergecolor-png-json-signac_tree-8_20-stat_-1_20-json-">20 color | <a href="Signac_tree/8_20/color_board_-1_20.png">颜色板</a>  |  <a href="Signac_tree/8_20/patch-1_20_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_20/stat_-1_20.json">json</a></h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/8_20/patch-1_20_slic_draw_mergecolor_dot.png" alt="slic"></p>
<h2 id="25-color-signac_tree-8_25-color_board_-1_25-png-signac_tree-8_25-patch-1_25_slic_draw_mergecolor-png-json-signac_tree-8_25-stat_-1_25-json-">25 color | <a href="Signac_tree/8_25/color_board_-1_25.png">颜色板</a>  |  <a href="Signac_tree/8_25/patch-1_25_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_25/stat_-1_25.json">json</a></h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/8_25/patch-1_25_slic_draw_mergecolor_dot.png" alt="slic"></p>
<h2 id="30-color-signac_tree-8_30-color_board_-1_30-png-signac_tree-8_30-patch-1_30_slic_draw_mergecolor-png-json-signac_tree-8_30-stat_-1_30-json-">30 color | <a href="Signac_tree/8_30/color_board_-1_30.png">颜色板</a>  |  <a href="Signac_tree/8_30/patch-1_30_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_30/stat_-1_30.json">json</a></h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree/8_30/patch-1_30_slic_draw_mergecolor_dot.png" alt="slic"></p>
