<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<h2 id="-8-">15种颜色，真实大小600mm*450mm，共49338点</h2>

<h2 id="15-color-signac_tree-8_15-color_board_-1_15-png-signac_tree-8_15-patch-1_15_slic_draw_mergecolor-png-json-signac_tree-8_15-stat_-1_15-json-">15 color | <a href="Signac_tree/8_15/color_board_-1_15.png">颜色板</a>  |  <a href="Signac_tree/8_15/patch-1_15_slic_draw_mergecolor.png">过程</a>  |  <a href="Signac_tree/8_15_draw/stat_-1_15_fix.json">json(增加了真实直径)</a></h2>

<h2 id="-8-">颜色由多到少画，直径按照原始</h2>
<h3 id="-8-">直径：[1.13 1.69 2.26 2.82 3.39 3.95 4.51 5.08] mm</h3>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree\8_15_draw\patch_dotsize_0.0mm.png" alt="3"></p>
<h2 id="-8-">颜色由多到少画，直径统一3mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree\8_15_draw\patch_dotsize_3.0mm.png" alt="1"></p>
<h2 id="-8-">颜色由多到少画，直径统一4mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="Signac_tree\8_15_draw\patch_dotsize_4.0mm.png" alt="2"></p>
