<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<h2 id="10-color-signac_tree-8_10-color_board_-1_10-png-signac_tree-8_10-patch-1_10_slic_draw_mergecolor-png-json-signac_tree-8_10-stat_-1_10-json-">5种颜色 | <a href="portrait/test1/colorboard.jpg">颜色板</a>  |  <a href="portrait/test1/process.html">过程</a>  |  <a href="portrait/test1/stat.json">json</a></h2>

效果
<!-- <p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="portrait/test1/final.jpg" alt="效果"></p> -->
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="portrait/test1/final.jpg" alt="效果"></p>

原图
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="portrait/test1/original.png" alt="原图"></p>

<!-- <p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="portrait/test1/original.png" alt="原图"></p> -->

