<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<h2><a href="0816.html">1. 希涅克 10/15/20/25/30 种颜色聚类结果 </a></h2>
<h2><a href="Signac_tree/8_10/dotsize/index.html">2. 不同大小的点效果</a></h2>
<h2><a href="0922.html">3. 模拟不同颜色顺序的点覆盖效果</a> </h2>

