<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h2 id="-8-">真实大小600mm*450mm，图像分辨率6000*4500</h2>
<h2 id="-8-">点直径 1mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="patch_dotsize_1.0mm.png" alt="1"></p>
<h2 id="-8-">点直径 2mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="patch_dotsize_2.0mm.png" alt="2"></p>
<h2 id="-8-">点直径 3mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="patch_dotsize_3.0mm.png" alt="3"></p>
<h2 id="-8-">点直径 4mm</h2>
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="patch_dotsize_4.0mm.png" alt="4"></p>