1
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="c1.jpg" alt="效果"></p>
2
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="c2.jpg" alt="效果"></p>
3
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="c3.jpg" alt="效果"></p>
4
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="c4.jpg" alt="效果"></p>
5
<p><img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src="c5.jpg" alt="效果"></p>